@font-face {
    font-family: $ff-LemonTuesdayRegular;
    src: url(../fonts/Lemon_Tuesday/18224.ttf);
}

@font-face {
    font-family: $ff-RobotoSlabBold;
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: $ff-RobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: $ff-OpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $ff-OpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $ff-OpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: $ff-OpenSansSemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: $ff-OpenSansItalic;
    src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}